In [ ]:
#step 1, collect data from spy 91 days of data required
#step 2, Generate charts, day 0-day 90 and than save result in txt file day 91

In [23]:
import yfinance as yf
import pandas as pd

def getData(start):
    data = yf.download('SPY', start=start)
    df = pd.DataFrame(data)

    df = df.head(91)        
    row_90 = df.iloc[90]

    start_date = pd.to_datetime(start).strftime('%Y-%m-%d')
    file_title = f"{start_date}.txt"
    with open(file_title, 'w') as file:
        file.write(str(row_90)) 

    df = df.drop(df.index[90])
        
    return df


start_date = pd.to_datetime('2021-01-01')
stock_data = getData(start_date)
stock_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,375.309998,375.450012,364.820007,368.790009,355.446808,110210800
2021-01-05,368.100006,372.500000,368.049988,371.329987,357.894867,66426200
2021-01-06,369.709991,376.980011,369.119995,373.549988,360.034515,107997700
2021-01-07,376.100006,379.899994,375.910004,379.100006,365.383728,68766800
2021-01-08,380.589996,381.489990,377.100006,381.260010,367.465576,71677200
...,...,...,...,...,...,...
2021-05-06,415.829987,419.209991,413.679993,419.070007,405.230530,74321400
2021-05-07,419.890015,422.820007,419.160004,422.119995,408.179810,67733800
2021-05-10,422.500000,422.739990,417.809998,417.940002,404.137848,81852400
2021-05-11,413.100006,415.269989,410.059998,414.209991,400.530975,116888000
2021-05-12,411.230011,412.589996,404.000000,405.410004,392.021606,134811000

In [24]:
#step 2 create image
import pandas as pd
import mplfinance as mpf

# Create the candlestick chart
mpf.plot(stock_data, type='candle', style='yahoo', title='Stock Price', ylabel='Price', volume=True, savefig=)